[user]
	name = asuforce
	email = owata.sn@gmail.com
	signingkey = 8CBC44C6092F8975
[gpg]
	program = gpg
[core]
	editor = vim
[push]
	default = current
[pull]
  rebase = true
[commit]
	gpgsign = false
[fetch]
	prune = true
[alias]
	ad = add
	ca = commit -av
	ci = commit -v
	cia = commit --allow-empty
	co = checkout
	cp = cherry-pick
	df = diff
	fe = fetch
	st = status
	me = merge

	amend = commit --amend
	bout = checkout -b
	contributors = shortlog -s -n
	delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
	graph = log --graph --branches --remotes --tags	--format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
	history = log -20 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
	last = log -1 HEAD --format=format:"%Cred%H"
	prestage = diff -w --word-diff=color
	remotes = remote -v
	showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	stashes = stash list
	uncommit = reset --mixed HEAD~
	unstage = reset -q HEAD --
	unstash = stash pop
	untrack = rm -r --cached
	what = show -w
[ghq]
	root = ~/dev/src
[include]
	path = ~/.gitconfig-work
