[push]
adefault = simple
[core]
	editor = vim
	excludesfile = /Users/usr0600439/.gitignore
[user]
	name = sun
	email = shun.nishitsuji@pepabo.com
	siginingkey = 8FC29E15
[alias]
  pl = pull
  ci = commit
  ca = commit -a
  ad = add
  aa = add -A
  df = diff
  cia = commit --allow-empty
  co = checkout
  st = status

  save = commit -m
  amend = commit --amend
  summary = status -u -s
  discard = checkout --
  back = checkout "-"
  bout = checkout -b
  unmerged = diff --name-only --diff-filter=U
  prestage = diff -w --word-diff=color
  precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
  uncommit = reset --mixed HEAD~
  unstage = reset -q HEAD --
  last = log -1 HEAD --format=format:"%Cred%H"
  graph = log --graph --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
  history = log -20 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
  branches = branch -a
  stashes = stash list
  unstash = stash pop
  tags = tag
  remotes = remote -v
  move = mv
  remove = rm
  untrack = rm -r --cached
  unmerged = branch --no-merged
  what = show -w
  rewrite = rebase -i
  contributors = shortlog -s -n
  nevermind = !git reset --hard HEAD && git clean -d -f
  delete-merged-branch = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[gpg]
	program = gpg2
[commit]
	gpgsign = false
	template = /Users/usr0600439/.stCommitMsg
